*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #3D3D3D;
}

#egg-carton {
    display: flex;
    align-items: center; /* Gives egg an 'eggier' shape */
    justify-content: space-around;
    width: 80vw;
    max-width: 800px;
    min-height: 400px;
    border-radius: 5px;
    background-color: #F2F2F2;
    padding: 1.5em;
    box-shadow: 0 0 10px 2px;
}

#egg {
    font-family: 'Anton', sans-serif;
    width: 325px;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 50%;
    background-color: #FF6E73;
    padding-top: 30px;
    box-shadow: 0 0 5px 1px;
}

#start-wrapper {
    display: flex;
    flex-direction: column;
}

#penguin-name {
    padding: 6px;
    text-align: center;
}

#btn-start {
    margin: 20px;
    padding: 6px;
} 

#enter-name {
    text-align: center;
    font-family: sans-serif;
    letter-spacing: 2px;
}

#screen {
    width: 200px;
    max-height: 250px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    color: black;
    box-shadow: 0 0 5px 1px;
}

#screen-header {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    width: 200px;
    min-height: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.screen-titles {
    font-family: 'Roboto Mono', monospace;
    display: inline-block;
    max-height: 20px;
    font-size: 8px;
    padding-top: 2px;
    color: black;
}

.top-icon-title {
    margin-top: 3px;
}

.icon {
    font-size: 20px;
}

#main-screen {
    width: 200px;
    min-height: 150px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#penguin-age {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 100;
}

#penguin-box {
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    font-weight: 800;
    width: 150px;
    min-height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 10px;
    background-color: #FFFFFF;
    border: 1.5px solid #B7B7B7;
}

#screen-footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 200px;
    min-height: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.bottom-icon-title {
    margin-bottom: 3px;
    padding: 5px;
}

.yellow {
    margin: 15px;
    background-color: yellow;
    border: none;
    min-width: 15px;
    border-radius: 50%;
    color: yellow;
    box-shadow: 0 0 2px 1px;
}

.yellow:hover {
    background-color: yellowgreen;
    color: yellowgreen;
    box-shadow: 0 0 2px 1px;
}

#instructions-container {
    font-family: 'Roboto Mono', monospace;
    width: 325px;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
}

#instructions {
    color: black;
    padding-left: 30px;
    font-weight: 800;
}

#player-controls {
    display: flex; 
    flex-direction: column;
    gap: 12px; 
    width: 35%;
}

#game-reset-instructions {
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    color: black;
    padding-left: 1em;
    font-weight: 800;
}

.btn-action {
    margin: 5px;
    border-radius: 5px;
    background-color: #B7B7B7;
    border: 1px #B6B6B6;
    padding: 3px 0;
    color: #FFF;
    outline: none;
    text-transform: uppercase;
}

.btn-action:hover {
    background-color: yellow;
    cursor: pointer;
    color: #3D3D3D;
}